/* Globol style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: auto 0px; 
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

.container-headline,
.container-products {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(251,251,253);
}

.divider {
    width: 100%;
    height: 15px;
    background-color: white;
}

.btn {
    width: fit-content;
    font-size: 1.8rem;
    color: rgb(39,125,212);
    border: none;
    background: transparent;
    cursor: pointer;
}

.btn:hover {
    text-decoration: underline;
}

.headline-btn {
    display: flex;
    justify-content: center;
}

.learn-btn,
.buy-btn {
    display: inline-block;
    margin: 1.4rem;
    cursor: pointer;
}

.fa-angle-right {
    margin: .2rem;
    color: rgb(39,125,212);
}

/* Start header */
nav {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #313132;
}

ul {
    display: flex;
}

li {
    margin: 1rem 2rem;
    font-size: 1.2rem;
}

li > a {
    color: #bbbbbb;
    transition: .2s ease-in-out;
}

li > a:hover {
    color: #fff;
}

i {
    margin: 0 1.5rem;
    font-size: 1.6rem;
    color: #bbbbbb;
}
/* end header */

/* start main */
.iPhone13Pro-headline {
    margin-top: 5rem;
}

.iPhone13Pro-headline > .main-headline {
    font-size: 5rem;
    color: #1D1D1F;
    font-weight: 500;
}

.iPhone13Pro-headline > .sub-headline {
    font-size: 2.5rem;
    font-weight: 400;
}

#iPhone13pro-img {
    width: 70rem;
}

.iPhoneSE-headline {
    margin-top: 5rem;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iPhoneSE-headline > .brand > .main-headline {
    margin-right: .5rem;
    font-size: 5rem;
    color: #1D1D1F;
    font-weight: 500;
}

.iPhoneSE-headline > .sub-headline {
    font-size: 2.5rem;
    font-weight: 400;
}

.SE-border {
    width: 40px;
    padding: .2rem;
    font-size: 2rem;
    border: 3px solid black;
    border-radius: 10px;
}

#iPhoneSE-img {
    width: 70rem;
}

.Watch-headline {
    background-color: #F4F4F6;
    margin-top: 5rem;
}

.Watch-headline > .brand > i {
    color: #1D1D1F;
    font-size: 5.5rem;
}

.Watch-headline > .brand > .main-headline {
    font-size: 5rem;
    color: #1D1D1F;
    font-weight: 500;
}

.Watch-headline > .sub-headline {
    font-size: 2.5rem;
    font-weight: 400;
}

#watch-img {
    width: 70rem;
}

.firstshow {
    display: flex;

}

.iPadAir {
    width: 80rem;
    margin-right: 10rem;
    margin-top: 5rem;
    background-color: black;
}

.Theheadline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iPadAir > .sub-headline {
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
}

.Theheadline > .main-headline {
    font-size: 5rem;
    color: white;
    font-weight: 500;
}

.air {
    width: 7rem;
    margin: .5rem;
}

.iPhone13 {
    margin-left: 10rem;
    margin-top: 5rem;
}

.iPhone13 > .sub-headline {
    font-size: 2.5rem;
    font-weight: 400;
}

.iPhone13 > .main-headline {
    font-size: 5rem;
    font-weight: 500;
}

.secondshow {
    display: flex;
}

.Studio-Display {
    width: 80rem;
    margin-right: 10rem;
    margin-top: 5rem;
}

.Studio-Display > .sub-headline {
    font-size: 2.5rem;
    font-weight: 400;
}

.Studio-Display > .main-headline {
    font-size: 5rem;
    font-weight: 500;
}

.tv+ {
    width: 80rem;
    margin-right: 10rem;
    margin-top: 5rem;
}

.tv {
    width: 80rem;
    height: 60rem;
    margin-left: 2.5rem;
}
/* end main */

/* start footer */
footer {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* end footer */